/* Production.css */
.production-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 40px; /* Increase the margin as needed */
}

.production-section {
  flex: 0 0 50%; /* Each section takes the full width */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px; /* Increase the margin as needed */
}

.production-section button {
  margin-top: 20px; /* Move the button below the input box */
  padding: 20px; /* Increase the button padding */
  width: 350px; /* Increase the button width */
  height: 60px; /* Increase the button height */
  background-color:  #3498db; /* Set the initial button color to grey */
  color: white; /* Set the text color */
  border: none;
  cursor: pointer;
  font-size: large;
  /* Add 3D effect */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.production-section button:disabled {
  background-color: #b0c4de; /* Light blue when button is disabled */
}

.production-section button.success {
  background-color: #87CEFA; /* Lighter blue for successful actions */
}

.production-section button:active {
  background-color:#2c3e50; /* Dark blue when the button is clicked */
}

.status {
  font-size: 24px; /* Increase the font size as per your requirement */
  font-weight: bold; /* Make the font bold */
}
