.container {
  max-width: 600px;
  margin: 25px 200px 60px 30px;
  padding: 20px 40px 20px 30px;
  /* padding-right: 200px; */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.bundle-section {
  margin-bottom: 40px;
}

.bundle-section h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.bundle-options label,
.optional-services label {
  display: inline;
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
}

.bundle-options input[type="radio"],
.optional-services input[type="checkbox"] {
  margin-right: 10px;
}

.bundle-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bundle-normal-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vh;
}

.bundle-buttons button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.back-btn {
  background-color: #007bff;
  color: #fff;
}

.submit-btn {
  background-color: #007bff;
  color: #fff;
}

.custom-bundle-btn {
  background-color: #007bff;
  color: #fff;
}

.submit-btn:hover,
.custom-bundle-btn:hover {
  background-color: #0056b3;
}

.divider_custom {
  width: 100%;
  height: 1px;
  /* background-color: #b7b1b1; */
  background-color: #c3bfbf;
  margin: 20px 0; /* Add some space above and below the divider */
}
